<div class="row-fluid">
	<div class="span8">
		<section class="widget">
			<header>
				<h4><i class="icon-group"></i>My top matrices</h4>
			</header>
			<div class="body no-margin">
				<div id="visits-chart" class="chart visits-chart">
					<svg></svg>
				</div>
				<div class="visits-info well well-small">
					<div class="row-fluid">
						<div class="span3">
							<div class="key"><i class="eicon-users"></i> Total Traffic</div>
							<div class="value">24 541 <i class="icon-caret-up color-green"></i></div>
						</div>
						<div class="span3">
							<div class="key"><i class="eicon-user"></i> Unique Visits</div>
							<div class="value">14 778 <i class="icon-caret-down color-red"></i></div>
						</div>
						<div class="span3">
							<div class="key"><i class="icon-plus-sign-alt"></i> Total shares</div>
							<div class="value">209 <i class="icon-caret-up color-green"></i></div>
						</div>
						<div class="span3">
							<div class="key"><i class="icon-user"></i> Total Comments</div>
							<div class="value">105 <i class="icon-caret-down color-red"></i></div>
						</div>
					</div>
				</div>
			</div>
		</section>
	</div>

	<div class="span4">
		<section class="widget large">
			<header>
				<h4>
					<i class="eicon-share"></i>
					Latest Feed
				</h4>
				<div class="actions">
					<button class="btn btn-transparent btn-mini">Show All <i class="icon-arrow-down"></i></button>
				</div>
			</header>
			<div class="body">
				<div id="feed" class="feed">
					<div class="wrapper">
						<div class="vertical-line"></div>
						<section class="feed-item">
							<div class="icon pull-left">
								<i class="icon-twitter"></i>
							</div>
							<div class="feed-item-body">
								<div class="text">
									<a href="#">Silverpop</a> tweeted at Twitter <a href="http://t.co/lADV2g4qow">Don't forget to join us tomorrow for "Email Personalization—Thinking Beyond ...</a>.
								</div>
								<div class="time pull-left">
									3 h
								</div>
							</div>
						</section>

						<section class="feed-item">
							<div class="icon pull-left">
								<i class="icon-twitter"></i>
							</div>
							<div class="feed-item-body">
								<div class="text">
									<a href="#">marketo</a> tweeted at Twitter <a href="http://t.co/IAMcxwLXFV">.@JonMiller gives a lesson on the The 4-1-1 Rule for Lead Nurturing &amp; how to use it to engage in conversation &amp; more!</a>.
								</div>
								<div class="time pull-left">
									1 h
								</div>
							</div>
						</section>

						<section class="feed-item">
							<div class="icon pull-left">
								<i class="icon-comment"></i>
							</div>
							<div class="feed-item-body">
								<div class="text">
									<a href="#">marketingcloud</a> tweeted at Twitter <a href="http://t.co/gtssTJAaS9">.#IABMIXX is coming up! Join @lazerow in NYC from Sept 23-24:</a>.
								</div>
								<div class="time pull-left">
									5 h
								</div>
							</div>
						</section>

						<section class="feed-item">
							<div class="icon pull-left">
								<i class="icon-linkedin"></i>
							</div>
							<div class="feed-item-body">
								<div class="text">
									<a href="#">FLDsmith</a> is hiring: Project Manager  <a href="http://www.linkedin.com/jobs?viewJob=&jobId=7307777">FLSmidth Inc. in Bethlehem, PA, has a position opening for a Project Manager </a>.
								</div>
								<div class="time pull-left">
									1 d
								</div>
							</div>
						</section>

						<section class="feed-item">
							<div class="icon pull-left">
								<i class="icon-linkedin"></i>
							</div>
							<div class="feed-item-body">
								<div class="text">
									<a href="#">Outotec</a>  is hiring: Senior Metallurgist (EMEA) in Espoo<a href="http://www.linkedin.com/jobs?viewJob=&jobId=7300404">We are now looking for a Senior Metallurgist for Flotation Business Line to proactively support... </a>.
								</div>
								<div class="time pull-left">
									3 d
								</div>
							</div>
						</section>

						<section class="feed-item">
							<div class="icon pull-left">
								<i class="icon-ok color-green"></i>
							</div>
							<div class="feed-item-body">
								<div class="text">
									<a href="#">APM</a> has been approved by <a href="#">EUMA</a>.
								</div>
								<div class="time pull-left">
									10 h
								</div>
							</div>
						</section>
						<section class="feed-item">
							<div class="icon pull-left">
								<i class="icon-arrow-down"></i>
							</div>
							<div class="feed-item-body">
								<div class="text">
									<a href="#">Load more...</a>
								</div>
							</div>
						</section>
					</div>
				</div>
			</div>
		</section>
	</div>
</div>

<div class="row-fluid">
	<div class="span12">
		<section class="widget">
			<header>
				<h4>Latest Matrices</h4>
			</header>
			<div class="body icons">
				<section id="icons-web-app">
					<div class="row-fluid">
						<div class="">
							<ul class="the-icons">
								<li><i class="icon-cloud-download"></i> icon-cloud-download</li>
								<li><i class="icon-cloud-upload"></i> icon-cloud-upload</li>
								<li><i class="icon-lightbulb"></i> icon-lightbulb</li>
								<li><i class="icon-exchange"></i> icon-exchange</li>
							</ul>
						</div>
					</div>
				</section>
			</div>
		</section>
	</div>
</div>
