
<div class="row-fluid">
	<div class="span10 offset1">
		<section class="widget">
			<header>
				<h4>
					<i class="icon-file-alt"></i>
					jQuery DataTables
				</h4>
			</header>
			<div class="body">
				<blockquote>
					Column sorting, live search, pagination. Built with
					<a href="http://www.datatables.net/" target="_blank">jQuery DataTables</a>
				</blockquote>
				<table id="datatable-table" class="table table-striped">
					<thead>
						<tr>
							<th>Id</th>
							<th class="no-sort">Icon</th>
							<th>Name</th>
							<th class="no-sort hidden-phone-landscape">Info</th>
							<th>Description</th>
							<th class="hidden-phone-landscape">Date</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>1</td>
							<td><i class="icon-qrcode icon-2x"></i></td>
							<td><strong>Algerd</strong></td>
							<td class="hidden-phone-landscape">
								<small>
									<strong>Type:</strong>
									&nbsp; JPEG
								</small>
								<br>
								<small>
									<strong>Dimensions:</strong>
									&nbsp; 200x150
								</small>
							</td>
							<td><a href="#">Palo Alto</a></td>
							<td class="hidden-phone-landscape">June 27, 2013</td>
						</tr>
						<tr>
							<td>2</td>
							<td><i class="icon-wrench icon-2x"></i></td>
							<td><strong>Vitaut</strong></td>
							<td class="hidden-phone-landscape">
								<small>
									<strong>Type:</strong>
									&nbsp; PNG
								</small>
								<br>
								<small>
									<strong>Dimensions:</strong>
									&nbsp; 6433x4522
								</small>
							</td>
							<td><a href="#">Vilnia</a></td>
							<td class="hidden-phone-landscape">January 1, 1442</td>
						</tr>
						<tr>
							<td>3</td>
							<td><i class="icon-envelope-alt icon-2x"></i></td>
							<td><strong>Honar</strong></td>
							<td class="hidden-phone-landscape">
								<small>
									<strong>Type:</strong>
									&nbsp; AVI
								</small>
								<br>
								<small>
									<strong>Dimensions:</strong>
									&nbsp; 1440x980
								</small>
							</td>
							<td><a href="#">Berlin</a></td>
							<td class="hidden-phone-landscape">August 6, 2013</td>
						</tr>
						<tr>
							<td>4</td>
							<td><i class="icon-random icon-2x"></i></td>
							<td><strong>Jack</strong></td>
							<td class="hidden-phone-landscape">
								<small>
									<strong>Type:</strong>
									&nbsp; PNG
								</small>
								<br>
								<small>
									<strong>Dimensions:</strong>
									&nbsp; 12x43
								</small>
							</td>
							<td><a href="#">San Francisco</a></td>
							<td class="hidden-phone-landscape">August 19, 2013</td>
						</tr>
						<tr>
							<td>5</td>
							<td><i class="icon-tags icon-2x"></i></td>
							<td><strong>Leon</strong></td>
							<td class="hidden-phone-landscape">
								<small>
									<strong>Type:</strong>
									&nbsp; MP4
								</small>
								<br>
								<small>
									<strong>Dimensions:</strong>
									&nbsp; 800x480
								</small>
							</td>
							<td><a href="#">Brasilia</a></td>
							<td class="hidden-phone-landscape">October 1, 2013</td>
						</tr>
						<tr>
							<td>6</td>
							<td><i class="icon-inbox icon-2x"></i></td>
							<td><strong>Max</strong></td>
							<td class="hidden-phone-landscape">
								<small>
									<strong>Type:</strong>
									&nbsp; TXT
								</small>
								<br>
								<small>
									<strong>Dimensions:</strong>
									&nbsp; -
								</small>
							</td>
							<td><a href="#">Helsinki</a></td>
							<td class="hidden-phone-landscape">October 29, 2013</td>
						</tr>
						<tr>
							<td>7</td>
							<td><i class="icon-off icon-2x"></i></td>
							<td><strong>Pol</strong></td>
							<td class="hidden-phone-landscape">
								<small>
									<strong>Type:</strong>
									&nbsp; MOV
								</small>
								<br>
								<small>
									<strong>Dimensions:</strong>
									&nbsp; 640x480
								</small>
							</td>
							<td><a href="#">Radashkovichi</a></td>
							<td class="hidden-phone-landscape">November 11, 2013</td>
						</tr>
						<tr>
							<td>8</td>
							<td><i class="icon-phone icon-2x"></i></td>
							<td><strong>Chrishna</strong></td>
							<td class="hidden-phone-landscape">
								<small>
									<strong>Type:</strong>
									&nbsp; DOC
								</small>
								<br>
								<small>
									<strong>Dimensions:</strong>
									&nbsp; -
								</small>
							</td>
							<td><a href="#">Mumbai</a></td>
							<td class="hidden-phone-landscape">December 2, 2013</td>
						</tr>
						<tr>
							<td>9</td>
							<td><i class="icon-asterisk icon-2x"></i></td>
							<td><strong>Leslie</strong></td>
							<td class="hidden-phone-landscape">
								<small>
									<strong>Type:</strong>
									&nbsp; AVI
								</small>
								<br>
								<small>
									<strong>Dimensions:</strong>
									&nbsp; 4820x2140
								</small>
							</td>
							<td><a href="#">Singapore</a></td>
							<td class="hidden-phone-landscape">December 6, 2013</td>
						</tr>
						<tr>
							<td>10</td>
							<td><i class="icon-star icon-2x"></i></td>
							<td><strong>David</strong></td>
							<td class="hidden-phone-landscape">
								<small>
									<strong>Type:</strong>
									&nbsp; XML
								</small>
								<br>
								<small>
									<strong>Dimensions:</strong>
									&nbsp; -
								</small>
							</td>
							<td><a href="#">Portland</a></td>
							<td class="hidden-phone-landscape">December 13, 2013</td>
						</tr>
						<tr>
							<td>11</td>
							<td><i class="icon-dashboard icon-2x"></i></td>
							<td><strong>Andrej</strong></td>
							<td class="hidden-phone-landscape">
								<small>
									<strong>Type:</strong>
									&nbsp; VOB
								</small>
								<br>
								<small>
									<strong>Dimensions:</strong>
									&nbsp; 6433x4522
								</small>
							</td>
							<td><a href="#">Minsk</a></td>
							<td class="hidden-phone-landscape">December 14, 2013</td>
						</tr>
						<tr>
							<td>12</td>
							<td><i class="icon-fighter-jet icon-2x"></i></td>
							<td><strong>Julia</strong></td>
							<td class="hidden-phone-landscape">
								<small>
									<strong>Type:</strong>
									&nbsp; JPEG
								</small>
								<br>
								<small>
									<strong>Dimensions:</strong>
									&nbsp; 40x40
								</small>
							</td>
							<td><a href="#">Hrodna</a></td>
							<td class="hidden-phone-landscape">July 9, 2012</td>
						</tr>
						<tr>
							<td>13</td>
							<td><i class="icon-group icon-2x"></i></td>
							<td><strong>Ihnat</strong></td>
							<td class="hidden-phone-landscape">
								<small>
									<strong>Type:</strong>
									&nbsp; JAVA
								</small>
								<br>
								<small>
									<strong>Dimensions:</strong>
									&nbsp; -
								</small>
							</td>
							<td><a href="#">Los Angeles</a></td>
							<td class="hidden-phone-landscape">August 2, 2012</td>
						</tr>
						<tr>
							<td>14</td>
							<td><i class="icon-home icon-2x"></i></td>
							<td><strong>Abraham</strong></td>
							<td class="hidden-phone-landscape">
								<small>
									<strong>Type:</strong>
									&nbsp; DOCX
								</small>
								<br>
								<small>
									<strong>Dimensions:</strong>
									&nbsp; -
								</small>
							</td>
							<td><a href="#">Panama</a></td>
							<td class="hidden-phone-landscape">September 3, 2012</td>
						</tr>
						<tr>
							<td>15</td>
							<td><i class="icon-key icon-2x"></i></td>
							<td><strong>Tomas</strong></td>
							<td class="hidden-phone-landscape">
								<small>
									<strong>Type:</strong>
									&nbsp; JPEG
								</small>
								<br>
								<small>
									<strong>Dimensions:</strong>
									&nbsp; 1800x1420
								</small>
							</td>
							<td><a href="#">Amsterdam</a></td>
							<td class="hidden-phone-landscape">November 13, 2012</td>
						</tr>
						<tr>
							<td>16</td>
							<td><i class="icon-link icon-2x"></i></td>
							<td><strong>Scott</strong></td>
							<td class="hidden-phone-landscape">
								<small>
									<strong>Type:</strong>
									&nbsp; PNG
								</small>
								<br>
								<small>
									<strong>Dimensions:</strong>
									&nbsp; 240x460
								</small>
							</td>
							<td><a href="#">Sluck</a></td>
							<td class="hidden-phone-landscape">December 5, 2012</td>
						</tr>
						<tr>
							<td>17</td>
							<td><i class="icon-zoom-in icon-2x"></i></td>
							<td><strong>Pham</strong></td>
							<td class="hidden-phone-landscape">
								<small>
									<strong>Type:</strong>
									&nbsp; MAIL
								</small>
								<br>
								<small>
									<strong>Dimensions:</strong>
									&nbsp; -
								</small>
							</td>
							<td><a href="#">Tokyo</a></td>
							<td class="hidden-phone-landscape">December 8, 2012</td>
						</tr>
						<tr>
							<td>18</td>
							<td><i class="icon-chevron-right icon-2x"></i></td>
							<td><strong>Peter</strong></td>
							<td class="hidden-phone-landscape">
								<small>
									<strong>Type:</strong>
									&nbsp; PNG
								</small>
								<br>
								<small>
									<strong>Dimensions:</strong>
									&nbsp; 8320x6400
								</small>
							</td>
							<td><a href="#">Cape Town</a></td>
							<td class="hidden-phone-landscape">December 29, 2012</td>
						</tr>
						<tr>
							<td>19</td>
							<td><i class="icon-volume-down icon-2x"></i></td>
							<td><strong>Uladz'</strong></td>
							<td class="hidden-phone-landscape">
								<small>
									<strong>Type:</strong>
									&nbsp; JPEG
								</small>
								<br>
								<small>
									<strong>Dimensions:</strong>
									&nbsp; 2200x1600
								</small>
							</td>
							<td><a href="#">Mahileu</a></td>
							<td class="hidden-phone-landscape">December 7, 2013</td>
						</tr>
					</tbody>
				</table>
			</div>
		</section>
	</div>
</div>

