<select id="e1">
	<option value="AL">Alabama</option>
	<option value="WY">Wyoming</option>
</select>

<input id="e6">

<div class="row-fluid masonry_feed">
	
  <div class="span4 box">
		<header>
        <h4><i class="icon-user"></i> Account Profile <small>Create new or edit existing user</small></h4>
    </header>
    <div class="body">
        <div class="row-fluid">
            <div class="span4">
                <div class="text-align-center">
                    <img class="img-circle" src="img/15.jpg" alt="64x64" style="height: 112px;">
                </div>
            </div>
            <div class="span8">
                <h3 class="no-margin">Maryna Dorash</h3>
                <address>
                    <strong>Development manager</strong> at <strong><a href="#">Allspana Inc.</a></strong><br>
                    <abbr title="Work email">e-mail:</abbr> <a href="mailto:#">maryna.dorash@allspana.by</a><br>
                    <abbr title="Work Phone">phone:</abbr> (123) 456-7890
                </address>
            </div>
        </div>
    </div>
  </div>
	
  <div class="span4 box">
		<header>
        <h4><i class="icon-user"></i> Account Profile <small>Create new or edit existing user</small></h4>
    </header>
    <div class="body">
        <div class="row-fluid">
            <div class="span4">
                <div class="text-align-center">
                    <img class="img-circle" src="img/15.jpg" alt="64x64" style="height: 112px;">
                </div>
            </div>
            <div class="span8">
                <h3 class="no-margin">Maryna Dorash</h3>
                <address>
                    <strong>Development manager</strong> at <strong><a href="#">Allspana Inc.</a></strong><br>
                    <abbr title="Work email">e-mail:</abbr> <a href="mailto:#">maryna.dorash@allspana.by</a><br>
                    <abbr title="Work Phone">phone:</abbr> (123) 456-7890
                </address>		<address>
                        <strong>Development manager</strong> at <strong><a href="#">Allspana Inc.</a></strong><br>
                        <abbr title="Work email">e-mail:</abbr> <a href="mailto:#">maryna.dorash@allspana.by</a><br>
                        <abbr title="Work Phone">phone:</abbr> (123) 456-7890
                    </address>
            </div>
        </div>
    </div>
  </div>
  <div class="span4 box">
		<header>
        <h4><i class="icon-user"></i> Account Profile <small>Create new or edit existing user</small></h4>
    </header>
    <div class="body">
        <div class="row-fluid">
            <div class="span4">
                <div class="text-align-center">
                    <img class="img-circle" src="img/15.jpg" alt="64x64" style="height: 112px;">
                </div>
            </div>
            <div class="span8">
                <h3 class="no-margin">Maryna Dorash</h3>
                <address>
                    <strong>Development manager</strong> at <strong><a href="#">Allspana Inc.</a></strong><br>
                    <abbr title="Work email">e-mail:</abbr> <a href="mailto:#">maryna.dorash@allspana.by</a><br>
                    <abbr title="Work Phone">phone:</abbr> (123) 456-7890
                </address>		<address>
                        <strong>Development manager</strong> at <strong><a href="#">Allspana Inc.</a></strong><br>
                        <abbr title="Work email">e-mail:</abbr> <a href="mailto:#">maryna.dorash@allspana.by</a><br>
                        <abbr title="Work Phone">phone:</abbr> (123) 456-7890
                    </address>
            </div>
        </div>
    </div>
  </div>
  <div class="span4 box">
		<header>
        <h4><i class="icon-user"></i> Account Profile <small>Create new or edit existing user</small></h4>
    </header>
    <div class="body">
        <div class="row-fluid">
            <div class="span4">
                <div class="text-align-center">
                    <img class="img-circle" src="img/15.jpg" alt="64x64" style="height: 112px;">
                </div>
            </div>
            <div class="span8">
                <h3 class="no-margin">Maryna Dorash</h3>
                <address>
                    <strong>Development manager</strong> at <strong><a href="#">Allspana Inc.</a></strong><br>
                    <abbr title="Work email">e-mail:</abbr> <a href="mailto:#">maryna.dorash@allspana.by</a><br>
                    <abbr title="Work Phone">phone:</abbr> (123) 456-7890
                </address>	
            </div>
        </div>
    </div>
  </div>
</div>