<div class="row-fluid">
    <div class="span12">
        <h2 class="page-title">Media Gallery <small>Images, videos and more</small></h2>
    </div>
</div>
<div class="row-fluid">
    <div class="span10 offset1">
        <section class="widget">
            <header>
                <h4>
                    <i class="icon-star"></i>
                    Grid of images, videos, text, and more
                </h4>
            </header>
            <div class="body">
                <ul class="thumbnails">
                    <li class="span6">
                        <a href="#myModal" class="thumbnail" data-toggle="modal">
                            <img src="https://treehouse-uploads.s3.amazonaws.com/production/profile-photos/46689/me.jpg" alt="">
                        </a>
                    </li>
                    <li class="span4">
                        <a href="#myModal" class="thumbnail" data-toggle="modal">
                            <img src="https://treehouse-uploads.s3.amazonaws.com/production/profile-photos/46689/me.jpg" alt="">
                        </a>
                    </li>
                    <li class="span2">
                        <a href="#myModal" class="thumbnail" data-toggle="modal">
                            <img src="https://treehouse-uploads.s3.amazonaws.com/production/profile-photos/46689/me.jpg" alt="">
                        </a>
                    </li>
                    <li class="span4">
                        <a href="#myModal" class="thumbnail" data-toggle="modal">
                            <img src="/img/8.jpg" alt="">
                        </a>
                    </li>
                    <li class="span2">
                        <a href="#myModal" class="thumbnail" data-toggle="modal">
                            <img src="/img/7.jpg" alt="">
                        </a>
                    </li>
                </ul>
            </div>
        </section>
    </div>
</div>
<div class="row-fluid">
    <div class="span10 offset1">
        <section class="widget">
            <header>
                <h4>
                    <i class="icon-font"></i>
                    Same with descriptions
                </h4>
            </header>
            <div class="body">
                <ul class="thumbnails">
                    <li class="span4">
                        <div class="thumbnail">
                            <img src="https://treehouse-uploads.s3.amazonaws.com/production/profile-photos/46689/me.jpg" alt="">
                            <div class="caption">
                                <h4>Thumbnail label</h4>
                                <p><strong>You will never know exactly how something will go until you try it.</strong> You can think three hundred times and still have no precise result... </p>
                                <p><a href="#" class="btn btn-danger">Favorite</a> <a href="#" class="btn btn-inverse">Read more...</a></p>
                            </div>
                        </div>
                    </li>
                    <li class="span4">
                        <div class="thumbnail">
                            <img src="/img/12.jpg" alt="">
                            <div class="caption">
                                <h4>Thumbnail label</h4>
                                <p>You don’t
                                    need to think about HOW it can turn out. All you have to do is to GO and DO IT. It
                                    should be super-fast and easy. You don’t
                                    need to think about.</p>
                                <p><a href="#" class="btn btn-danger">Favorite</a> <a href="#" class="btn btn-inverse">Read more...</a></p>
                            </div>
                        </div>
                    </li>
                    <li class="span4">
                        <div class="thumbnail">
                            <img src="/img/11.jpg" alt="">
                            <div class="caption">
                                <h4>Thumbnail label</h4>
                                <p>No hesitation. You ask me: “What to do with
                                    fearful thoughts preventing me from doing that?” The answer is to ignore them, because
                                    they can’t</p>
                                <p><a href="#" class="btn btn-danger">Favorite</a> <a href="#" class="btn btn-inverse">Read more...</a></p>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </section>
    </div>
</div>
