<div class="row-fluid">
	<div class="span12">
		<section class="widget">
			<header>
				<h4><i class="icon-file-alt"></i> Industry</h4>
			</header>
			<div class="body">
				<table id="industries_datatable" class="table table-striped" data-source="<%= industries_url(format: "js") %>">
					<thead>
						<tr>
							<th>Id</th>
							<th>Name</th>
							<th>Description</th>
							<th>Action</th>
						</tr>
					</thead>
				</table>

				<div>
					<%= link_to new_industry_path, {:class => "btn btn-warning", remote: true, "data-backdrop" => "false", "data-toggle" => "modal", "data-target" => "#create_industry_modal" } do %>
						<i class="icon-plus"></i> Add new
					<% end %>
					
					
					<%= link_to new_industry_import_path, {:class => "btn btn-inverse", remote: true, "data-backdrop" => "false", "data-toggle" => "modal", "data-target" => "#import_industries_modal"} do %>
						<i class="icon-exchange"></i> Import (with modal)
					<% end %>
					
					<%= render("import_modal_form") %>
        </div>
				
			</div>
		</section>
	</div>
</div>