<!-- Modal -->
<div id="new_company_modal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
		<h3 id="myModalLabel">Create New Company</h3>
	</div>

	<div class="modal-body">
		<form accept-charset="UTF-8" action="/companies/search" class="form-horizontal" method="get">
			<fieldset>
				 <div class="control-group">
					<label class="control-label" for="keyword">Company Name</label>
					<div class="controls">
						<input type="text" name="keyword" placeholder="" class="input-xlarge">
					</div>
				</div>
				
				<div class="control-group">
					<div class="controls">
						<button class="btn btn-success"><i class="icon-circle-arrow-right"></i> Next</button>
					</div>
				</div>
			</fieldset>
		</form>
	</div>
</div>