<div class="row-fluid">
	<div class="span12">
		<section class="widget">
			<h4><i class="icon-table"></i> <%= @competence.name %></h4>
			<hr>
			<p><%= @competence.description %></p>

			<div>
				<%= link_to competences_path, :class => "btn btn-inverse" do %>
					<i class="icon-arrow-left"></i> Back
				<% end %>
				
				<%= link_to edit_competence_path(@competence), :class => "btn btn-inverse" do %>
					<i class="icon-edit"></i> Edit
				<% end %>
				
			</div>
		</section>
	</div>
</div>
