<div class="wrap">
	<header class="page-header">
		<div class="navbar">
			<div class="navbar-inner">
				<ul class="nav pull-right">
					<li class="hidden-phone dropdown">
						<a href="#" title="Account" id="account" class="dropdown-toggle" data-toggle="dropdown">
							<i class="icon-user"></i>
						</a>
						<ul id="account-menu" class="dropdown-menu account" role="menu">
							<li role="presentation" class="account-picture">
                  <i class="icon-user"></i> <%= current_user.email %>
              </li>

              <% unless current_user.linkedin_auth %>
							<li role="presentation">
								<a href="/users/auth/linkedin" class="link">
									<i class="icon-linkedin-sign"></i> Add Linkedin
								</a>
							</li>
							<% end %>
							
							<% unless current_user.twitter_auth %>
              <li role="presentation">
								<a href="/users/auth/twitter" class="link">
									<i class="icon-twitter-sign"></i> Add Twitter
								</a>
              </li>		                    
							<% end %>
							
							<li role="presentation">
								<%= link_to destroy_user_session_path, method: "delete" do %>
									<i class="icon-signout"> Sign out</i>
								<% end %>
							</li>
							
						</ul>
					</li>
				</ul>
			</div>
		</div>
	</header>
</div>